@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-textColor;
}

body {
  @apply bg-custom-img bg-cover bg-center bg-fixed;
}

.oblique-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom right, transparent 50%, blue 50%);
}

.perspective-1000 {
  perspective: 1000px;
}
.backface-visibility-hidden {
  backface-visibility: hidden;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.hexagon-img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.ellipse-img {
  border-radius: 5rem 0 5rem 0;
}

.loader {
  border-top-color: #3498db;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 1s ease-out forwards;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.bg-opacity-custom {
  position: relative;
  z-index: 0;
}

.bg-opacity-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/logoTopContact.webp");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

.clip-hexagon {
  @apply relative overflow-hidden w-60 h-60 mx-auto;
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
}

.clip-hexagon img {
  @apply absolute top-0 left-0 w-full h-full object-cover;
}
